// * =========================== GENERAL ============================ */

.container {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  font: var(--font-10-regular);
  color: var(--neutral-0);
  background-color: var(--navy-950);
  overflow-x: hidden;
  overflow-y: auto;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding:var(--space-5);
}

.main-content {
  flex: 1;
}


/* =========================== NAVIGATION ============================ */

.nav-logo {
  font: var(--font-4);
  color: var(--neutral-0);
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2000;

}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 var(--space-8) var(--space-4);
}

.menu-btn {
  display: block;
  background: none;
  border: none;
  font: var(--font-10-bold);
  color: var(--neutral-0);
  cursor: pointer;
  margin-left: auto;
  z-index: 2100;
  margin-top: -0.3em;
  padding: var(--space-8);
  position: relative;
}

.navigation {
  position: fixed;
  top: 70px;
  right: -100%;
  width: 100%;
  transition: right 0.3s ease;
  background-color: var(--navy-950);
  padding: var(--space-10);
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
  z-index: 1500;
  align-items: center;
}

.navigation.open {
  right: 0;
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-6);
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__items__links {
  color: var(--neutral-0);
  text-decoration: none;
  cursor: pointer;
  font: var(--font-9-bold);
  position: relative;
  display: inline-block;
}

.nav__items__links::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1.5rem;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: left;
  opacity: 0;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.nav__items__links:hover,
.nav__items__links:focus-visible,
.nav__items__links:active {
  color: var(--aqua-50);
}

.nav__items__links:hover::after,
.nav__items__links:focus-visible::after,
.nav__items__links.active::after {
  opacity: 1;
  transform: scaleX(1);
}

.nav__list .nav__logo {
  align-self: flex-start;
  margin-bottom: 8em;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}


/* ========================== OVERVIEW ================================ */


.overview{
  margin-top:var(--space-11);
}
.overview__item__name {
  font: var(--font-3);
  color: var(--neutral-0);
}

.overview__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-8);
  text-align: center;
  padding: var(--space-4);

  .overview__item__content{
    font: var(--font-9-regular);
    letter-spacing: var(--font-9-regular-letter-spacing);
    color: var(--neutral-400);
  
  }
  .overview__item__source{
    font: var(--font-9-regular);
    letter-spacing: var(--font-9-regular-letter-spacing);
    color: var(--neutral-400);
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;
    gap:var(--space-2);
    

  }

  .overview__item__source__link{
  font: var(--font-8-regular);
  letter-spacing: var(--font-8-regular-letter-spacing);
  text-decoration-line: underline;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  display:flex;
  align-items:center;
  justify-content:center;
    flex-direction:row;
    gap:var(--space-2);
    .link__source__icon{
      width:14px;
      height:14px;
    }
  
    
  }

}


.overview__item__details {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
  list-style: none;
  padding: 0;
  margin: var(--space-8) 0 0 0;



  .item__result{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    border:1px solid rgba(255, 255, 255, 0.205);
    padding:.5rem 1.5rem .5rem 1.5rem;

 
  .item__detail {
    font: var(--font-10-regular);
    color: var(--neutral-400);
    text-transform: uppercase;
    letter-spacing: var(--font-10-regular-letter-spacing);
  }
  .result {
    font: var(--font-6);
    letter-spacing: var(--font-6-letter-spacing);
    color: var(--neutral-0);
    text-transform: uppercase;
  }
}

}