
@media only screen and (min-width: 710px) {

    .header__inner{
        display:flex;
        flex-direction:column;
        gap:var(--space-4);

        .nav-logo{
            font: var(--font-3);
            color: var(--neutral-0);
        }
    }

   .menu-btn{
        display: none;
    }

   .navigation {
  position: static;
  right:auto;
  top:auto;
  width:auto;
  padding:0;
  background: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;

}

  .nav__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-10);
    margin: 0;
    padding: 0;

  .nav__items {
    display: block;
    .nav__items__links {
     text-transform: uppercase;
     font: var(--font-8-bold);
    }

    .circle__color--planet {
      display:none;
   }
   
  }
}



  .nav__button-link {
    display: block;

  }


.nav__items__links {

 .chevron__icon {
      display:none;
    }
}


// =====general content =======

.general__inner{
    display:grid;
    grid-template-areas:"  image  . "
                        "content  navigation";
    ;
            
    grid-template-columns: 1fr 1fr;
    gap:var(--space-10);


    .internal-navigation{
        grid-area: navigation;
    }

    .circle__color--planet
    {
        grid-area: image;
    }

    .wrapper__general--details{
        grid-area: content;
    }

}
.general__item__details{
    
    display: flex;
    flex-direction: row;
    gap: var(--space-6);
    
}
.wrapper__general--details{
    align-items:flex-start
}

}