
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=League+Spartan:wght@100..900&display=swap');
// * ==========================================
//    DESIGN TOKENS
//    ========================================== */

:root {

  /* ==========================================
     COLORS
     ========================================== */

--neutral-950:hsl(0,0%,0%);
--neutral-300:hsl(0,0%,85%);
--neutral-0:#d8d8d8;
--white:hsl(0,0%,100%);

--neutral-400:hsl(0,0%,65%);

--aqua-100:hsl(196,46%,79%);
--aqua-50:hsl(196,83%,93%);

--navy-950:hsl(240,67%,8%);
--teal-400:hsl(169,73%,44%);

--purple-600:hsl(263,67%,51%);
--bronze-700:hsl(30,47%,49%);

--red-500:hsl(2,68%,53%);
--orange-600:hsl(10,63%,51%);

--amber-400:hsl(33,82%,61%);
--blue-600:hsl(222,87%,56%);

--sky-400:hsl(194,48%,49%);

--border-color: rgba(255, 255, 255, 0.205);





  /* ==========================================
     FONT FAMILIES
     ========================================== */

 --league-spartan: 'League Spartan', sans-serif;
  --antonio: 'Antonio', sans-serif;


  /* ==========================================
     TYPOGRAPHY
     ========================================== */

  /* Heading 1 */
  --font-1: 400 80px / 130% var(--antonio);
    --font-1-letter-spacing: 0;

  /* Heading 2 */
  --font-2: 400 48px / 130% var(--antonio);
    --font-2-letter-spacing: 0;

  /* Heading 3 */
  --font-3: 400 40px / 130% var(--antonio);
    --font-3-letter-spacing: -1.5px;

  /* Heading 4 */
  --font-4: 400 28px / 130% var(--antonio);
  --font-4-letter-spacing: -1px;

  /* Heading 5 */
  --font-5: 400 24px / 130% var(--antonio);
    --font-5-letter-spacing: -1px;

  /* Heading 6 */
  --font-6: 400 20px / 130% var(--antonio);
    --font-6-letter-spacing: -0.75px;


  /* Body */
  --font-7: 700 15px / 165% var(--league-spartan);
    --font-7-letter-spacing: 1.35px;

  --font-8-bold: 700 13px / 180% var(--league-spartan);
    --font-8-bold-letter-spacing: 0;

  --font-8-regular: 400 14px / 180% var(--league-spartan);
    --font-8-regular-letter-spacing: 0;

  --font-9-bold: 700 12px / 210% var(--league-spartan);
    --font-9-bold-letter-spacing: 2.5px;

  --font-9-regular: 400 12px / 210% var(--league-spartan);
  --font-9-regular-letter-spacing: 0;


  --font-10-bold: 700 11px / 225% var(--league-spartan);
    --font-10-bold-letter-spacing: 1px;

  --font-10-regular: 400 11px / 200% var(--league-spartan);
    --font-10-regular-letter-spacing: 0;

  --font-11-bold: 700 9px / 275% var(--league-spartan);
    --font-11-bold-letter-spacing: 2px;

  --font-12-bold: 700 8px / 200% var(--league-spartan);
    --font-12-bold-letter-spacing: 0.75px;
  --font-12-regular: 400 8px / 200% var(--league-spartan);
    --font-12-regular-letter-spacing: 0.75px;





// =======================================================================
//                                SPACE
// =======================================================================

--space-1: 0.25rem;  /* 4px */
--space-2: 0.375rem; /* 6px */
--space-3: 0.5rem;   /* 8px */
--space-4: 0.625rem; /* 10px */
--space-5: 1rem;     /* 16px */
--space-6: 1.25rem;  /* 20px */
--space-7: 1.5rem;   /* 24px */
--space-8: 1.875rem; /* 30px */
--space-9: 2rem;     /* 32px */
--space-10: 2.5rem;  /* 40px */
--space-11: 3rem;    /* 48px */
--space-12: 3.75rem;  /* 60px */
--space-13: 4rem;    /* 64px */
--space-14: 4.5rem;  /* 72px */
--space-15: 5rem;    /* 80px */
--space-16: 6rem;    /* 96px */
--space-18:7rem;    /* 112px */


}