@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=League+Spartan:wght@100..900&display=swap");
/* RESET */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  box-sizing: border-box;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100dvh;
  line-height: 1.5;
  font-family: "Poppins", serif;
}

/* Remove default margins */
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}

* {
  margin: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Smooth scroll */
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
:root {
  /* ==========================================
     COLORS
     ========================================== */
  --neutral-950:hsl(0,0%,0%);
  --neutral-300:hsl(0,0%,85%);
  --neutral-0:#d8d8d8;
  --neutral-400:hsl(0,0%,65%);
  --aqua-100:hsl(196,46%,79%);
  --aqua-50:hsl(196,83%,93%);
  --navy-950:hsl(240,67%,8%);
  --teal-400:hsl(169,73%,44%);
  --purple-600:hsl(263,67%,51%);
  --bronze-700:hsl(30,47%,49%);
  --red-500:hsl(2,68%,53%);
  --orange-600:hsl(10,63%,51%);
  --amber-400:hsl(33,82%,61%);
  --blue-600:hsl(222,87%,56%);
  --sky-400:hsl(194,48%,49%);
  /* ==========================================
     FONT FAMILIES
     ========================================== */
  --league-spartan: 'League Spartan', sans-serif;
  --antonio: 'Antonio', sans-serif;
  /* ==========================================
     TYPOGRAPHY
     ========================================== */
  /* Heading 1 */
  --font-1: 400 80px / 130% var(--antonio);
  --font-1-letter-spacing: 0;
  /* Heading 2 */
  --font-2: 400 48px / 130% var(--antonio);
  --font-2-letter-spacing: 0;
  /* Heading 3 */
  --font-3: 400 40px / 130% var(--antonio);
  --font-3-letter-spacing: -1.5px;
  /* Heading 4 */
  --font-4: 400 28px / 130% var(--antonio);
  --font-4-letter-spacing: -1px;
  /* Heading 5 */
  --font-5: 400 24px / 130% var(--antonio);
  --font-5-letter-spacing: -1px;
  /* Heading 6 */
  --font-6: 400 20px / 130% var(--antonio);
  --font-6-letter-spacing: -0.75px;
  /* Body */
  --font-7: 700 15px / 165% var(--league-spartan);
  --font-7-letter-spacing: 1.35px;
  --font-8-bold: 700 13px / 180% var(--league-spartan);
  --font-8-bold-letter-spacing: 0;
  --font-8-regular: 400 14px / 180% var(--league-spartan);
  --font-8-regular-letter-spacing: 0;
  --font-9-bold: 700 12px / 210% var(--league-spartan);
  --font-9-bold-letter-spacing: 2.5px;
  --font-9-regular: 400 12px / 210% var(--league-spartan);
  --font-9-regular-letter-spacing: 0;
  --font-10-bold: 700 11px / 225% var(--league-spartan);
  --font-10-bold-letter-spacing: 1px;
  --font-10-regular: 400 11px / 200% var(--league-spartan);
  --font-10-regular-letter-spacing: 0;
  --font-11-bold: 700 9px / 275% var(--league-spartan);
  --font-11-bold-letter-spacing: 2px;
  --font-12-bold: 700 8px / 200% var(--league-spartan);
  --font-12-bold-letter-spacing: 0.75px;
  --font-12-regular: 400 8px / 200% var(--league-spartan);
  --font-12-regular-letter-spacing: 0.75px;
  --space-1: 4px;
  --space-2: 6px;
  --space-3: 8px;
  --space-4: 10px;
  --space-5: 16px;
  --space-6: 20px;
  --space-7: 24px;
  --space-8: 30px;
  --space-9: 32px;
  --space-10: 40px;
  --space-11:48px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  font: var(--font-10-regular);
  color: var(--neutral-0);
  background-color: var(--navy-950);
  overflow-x: hidden;
  overflow-y: auto;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: var(--space-5);
}

.main-content {
  flex: 1;
}

/* =========================== NAVIGATION ============================ */
.nav-logo {
  font: var(--font-4);
  color: var(--neutral-0);
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2000;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 var(--space-8) var(--space-4);
}

.menu-btn {
  display: block;
  background: none;
  border: none;
  font: var(--font-10-bold);
  color: var(--neutral-0);
  cursor: pointer;
  margin-left: auto;
  z-index: 2100;
  margin-top: -0.3em;
  padding: var(--space-8);
  position: relative;
}

.navigation {
  position: fixed;
  top: 70px;
  right: -100%;
  width: 100%;
  transition: right 0.3s ease;
  background-color: var(--navy-950);
  padding: var(--space-10);
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
  z-index: 1500;
  align-items: center;
}

.navigation.open {
  right: 0;
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-6);
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__items__links {
  color: var(--neutral-0);
  text-decoration: none;
  cursor: pointer;
  font: var(--font-9-bold);
  position: relative;
  display: inline-block;
}

.nav__items__links::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1.5rem;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: left;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.nav__items__links:hover,
.nav__items__links:focus-visible,
.nav__items__links:active {
  color: var(--aqua-50);
}

.nav__items__links:hover::after,
.nav__items__links:focus-visible::after,
.nav__items__links.active::after {
  opacity: 1;
  transform: scaleX(1);
}

.nav__list .nav__logo {
  align-self: flex-start;
  margin-bottom: 8em;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* ========================== OVERVIEW ================================ */
.general__planet-characteristics {
  margin-top: var(--space-11);
}

.general__item__name {
  font: var(--font-3);
  color: var(--neutral-0);
}

.general__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-8);
  text-align: center;
  padding: var(--space-4);
}
.general__inner .general__item__content {
  font: var(--font-9-regular);
  letter-spacing: var(--font-9-regular-letter-spacing);
  color: var(--neutral-400);
}
.general__inner .general__item__source {
  font: var(--font-9-regular);
  letter-spacing: var(--font-9-regular-letter-spacing);
  color: var(--neutral-400);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: var(--space-2);
}
.general__inner .general__item__source__link {
  font: var(--font-8-regular);
  letter-spacing: var(--font-8-regular-letter-spacing);
  text-decoration-line: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: var(--space-2);
}
.general__inner .general__item__source__link .link__source__icon {
  width: 14px;
  height: 14px;
}

.general__item__details {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
  list-style: none;
  padding: 0;
  margin: var(--space-8) 0 0 0;
}
.general__item__details .item__result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid rgba(255, 255, 255, 0.205);
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}
.general__item__details .item__result .item__detail {
  font: var(--font-10-regular);
  color: var(--neutral-400);
  text-transform: uppercase;
  letter-spacing: var(--font-10-regular-letter-spacing);
}
.general__item__details .item__result .result {
  font: var(--font-6);
  letter-spacing: var(--font-6-letter-spacing);
  color: var(--neutral-0);
  text-transform: uppercase;
}

.internal-navigation {
  text-transform: uppercase;
  margin-top: var(--space-8);
}
.internal-navigation .internal-navigation__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--space-4);
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.205);
  transition: all 0.3s ease-in-out;
}
.internal-navigation .internal-navigation__list .internal-navigation__item {
  font: var(--font-10-bold);
  letter-spacing: var(--font-10-bold-letter-spacing);
  color: var(--neutral-400);
}
.internal-navigation .internal-navigation__list .internal-navigation__item:hover, .internal-navigation .internal-navigation__list .internal-navigation__item:focus-visible, .internal-navigation .internal-navigation__list .internal-navigation__item.active {
  color: var(--aqua-50);
  border-color: var(--aqua-50);
  background-color: rgba(0, 255, 255, 0.205);
}/*# sourceMappingURL=index.css.map */