/* RESET */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  box-sizing: border-box;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100dvh;
  line-height: 1.5;
  font-family: "Poppins", serif;
}

/* Remove default margins */
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}

* {
  margin: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Smooth scroll */
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
:root {
  /* ==========================================
     COLORS
     ========================================== */
  --neutral-950:hsl(0,0%,0%);
  --neutral-300:hsl(0,0%,85%);
  --neutral-0:hsl(0,0%,100%);
  --aqua-100:hsl(196,46%,79%);
  --aqua-50:hsl(196,83%,93%);
  --navy-950:hsl(240,67%,8%);
  --teal-400:hsl(169,73%,44%);
  --purple-600:hsl(263,67%,51%);
  --bronze-700:hsl(30,47%,49%);
  --red-500:hsl(2,68%,53%);
  --orange-600:hsl(10,63%,51%);
  --amber-400:hsl(33,82%,61%);
  --blue-600:hsl(222,87%,56%);
  --sky-400:hsl(194,48%,49%);
  /* ==========================================
     FONT FAMILIES
     ========================================== */
  --font-body: "League Spartan", sans-serif;
  --font-heading: "Antonio", sans-serif;
  --font1-fw:400;
  --font2-fw:700;
  /* ==========================================
     TYPOGRAPHY PRESETS
     (Mobile First)
     ========================================== */
  /* Display */
  /* ==========================================
     FONT FAMILIES
     ========================================== */
  --font-body: "League Spartan", sans-serif;
  --font-heading: "Antonio", sans-serif;
  --font1-fw: 400;
  --font2-fw: 700;
  /* ==========================================
     TYPOGRAPHY PRESETS
     ========================================== */
  /* Text Preset 1 */
  --font-1-family: var(--font-heading);
  --font-1-weight: 400;
  --font-1-size: 80px;
  --font-1-line-height: 130%;
  --font-1-letter-spacing: 0;
  --font-1-bold: var(--font-1-weight) var(--font-1-size) / var(--font-1-line-height) var(--font-1-family);
  /* Text Preset 2 */
  --font-2-family: var(--font-heading);
  --font-2-weight: 400;
  --font-2-size: 48px;
  --font-2-line-height: 130%;
  --font-2-letter-spacing: 0;
  --font-2-bold: var(--font-2-weight) var(--font-2-size) / var(--font-2-line-height) var(--font-2-family);
  /* Text Preset 3 */
  --font-3-family: var(--font-heading);
  --font-3-weight: 400;
  --font-3-size: 40px;
  --font-3-line-height: 130%;
  --font-3-letter-spacing: -1.5px;
  --font-3-bold: var(--font-3-weight) var(--font-3-size) / var(--font-3-line-height) var(--font-3-family);
  /* Text Preset 4 */
  --font-4-family: var(--font-heading);
  --font-4-weight: 400;
  --font-4-size: 28px;
  --font-4-line-height: 130%;
  --font-4-letter-spacing: -1px;
  --font-4-bold: var(--font-4-weight) var(--font-4-size) / var(--font-4-line-height) var(--font-4-family);
  /* Text Preset 5 */
  --font-5-family: var(--font-heading);
  --font-5-weight: 400;
  --font-5-size: 24px;
  --font-5-line-height: 130%;
  --font-5-letter-spacing: -1px;
  --font-5-bold: var(--font-5-weight) var(--font-5-size) / var(--font-5-line-height) var(--font-5-family);
  /* Text Preset 6 */
  --font-6-family: var(--font-heading);
  --font-6-weight: 400;
  --font-6-size: 20px;
  --font-6-line-height: 130%;
  --font-6-letter-spacing: -0.75px;
  --font-6-bold: var(--font-6-weight) var(--font-6-size) / var(--font-6-line-height) var(--font-6-family);
  /* Text Preset 7 */
  --font-7-family: var(--font-body);
  --font-7-weight: 700;
  --font-7-size: 15px;
  --font-7-line-height: 165%;
  --font-7-letter-spacing: 1.35px;
  --font-7-bold: var(--font-7-weight) var(--font-7-size) / var(--font-7-line-height) var(--font-7-family);
  /* Text Preset 8 Bold */
  --font-8-family: var(--font-body);
  --font-8-weight: 700;
  --font-8-size: 13px;
  --font-8-line-height: 180%;
  --font-8-letter-spacing: 0;
  --font-8-bold: var(--font-8-weight) var(--font-8-size) / var(--font-8-line-height) var(--font-8-family);
  /* Text Preset 8 Regular */
  --fontregular-8-family: var(--font-body);
  --fontregular-8-weight: 400;
  --fontregular-8-size: 14px;
  --fontregular-8-line-height: 180%;
  --fontregular-8-letter-spacing: 0;
  --font-8-regular: var(--fontregular-8-weight) var(--fontregular-8-size) / var(--fontregular-8-line-height) var(--fontregular-8-family);
  /* Text Preset 9 Bold */
  --font-9-family: var(--font-body);
  --font-9-weight: 700;
  --font-9-size: 12px;
  --font-9-line-height: 210%;
  --font-9-letter-spacing: 2.5px;
  --font-9-bold: var(--font-9-weight) var(--font-9-size) / var(--font-9-line-height) var(--font-9-family);
  /* Text Preset 9 Regular */
  --fontregular-9-family: var(--font-body);
  --fontregular-9-weight: 400;
  --fontregular-9-size: 12px;
  --fontregular-9-line-height: 210%;
  --fontregular-9-letter-spacing: 2.5px;
  --font-9-regular: var(--fontregular-9-weight) var(--fontregular-9-size) / var(--fontregular-9-line-height) var(--fontregular-9-family);
  /* Text Preset 10 Bold */
  --font-10-family: var(--font-body);
  --font-10-weight: 700;
  --font-10-size: 11px;
  --font-10-line-height: 225%;
  --font-10-letter-spacing: 1px;
  --font-10-bold: var(--font-10-weight) var(--font-10-size) / var(--font-10-line-height) var(--font-10-family);
  /* Text Preset 10 Regular */
  --fontregular-10-family: var(--font-body);
  --fontregular-10-weight: 400;
  --fontregular-10-size: 11px;
  --fontregular-10-line-height: 200%;
  --fontregular-10-letter-spacing: 0;
  --font-10-regular: var(--fontregular-10-weight) var(--fontregular-10-size) / var(--fontregular-10-line-height) var(--fontregular-10-family);
  /* Text Preset 11 Bold */
  --font-11-family: var(--font-body);
  --font-11-weight: 700;
  --font-11-size: 9px;
  --font-11-line-height: 275%;
  --font-11-letter-spacing: 2px;
  --font-11-bold: var(--font-11-weight) var(--font-11-size) / var(--font-11-line-height) var(--font-11-family);
  /* Text Preset 12 Bold */
  --font-12-family: var(--font-body);
  --font-12-weight: 700;
  --font-12-size: 8px;
  --font-12-line-height: 200%;
  --font-12-letter-spacing: 0.75px;
  --font-12-bold: var(--font-12-weight) var(--font-12-size) / var(--font-12-line-height) var(--font-12-family);
  --space-1: 4px;
  --space-2: 6px;
  --space-3: 8px;
  --space-4: 10px;
  --space-5: 16px;
  --space-6: 20px;
  --space-7: 24px;
  --space-8: 30px;
  --space-9: 32px;
  --space-10: 40px;
  --space-11:48px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  font-family: var(--font-10-regular);
  color: var(--neutral-0);
  background-color: var(--navy-950);
  overflow-x: hidden;
  overflow-y: auto;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

.nav-logo {
  height: auto;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2000;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-250);
  border-bottom: 1px solid var(--clr-gray-300);
}

.menu-btn {
  display: none;
}

.menu-btn {
  display: block;
  background: none;
  border: none;
  font: var(--font-9-bold);
  cursor: pointer;
  margin-left: auto;
  z-index: 2100;
  margin-top: -0.3em;
  padding: var(--spacing-100);
  background-color: var(--clr-gray-300);
  position: relative;
}

.navigation {
  position: fixed;
  top: 70px;
  right: -100%;
  width: 100%;
  transition: right 0.3s ease;
  background-color: var(--navy-950);
  padding: var(--space-10);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
  z-index: 1500;
  align-items: center;
}

.nav__list .nav__items {
  display: flex;
  flex-direction: column;
  display: inline-block;
}

.navigation.open {
  right: 0;
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-6);
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__items__links {
  color: var(--neutral-0);
  text-decoration: none;
  cursor: pointer;
  font: var(--font-9-bold);
  position: relative;
  display: inline-block;
}
.nav__items__links::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1.5rem;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: left;
  inset-inline: 0;
  inset-block-end: 0;
  cursor: pointer;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.nav__items__links::after:hover, .nav__items__links::after:focus-visible, .nav__items__links::after:active {
  color: var(--aqua-50);
}
.nav__items__links:hover::after, .nav__items__links:focus-visible::after, .nav__items__links.active::after {
  opacity: 1;
  transform: scaleX(1);
}

.nav__list .nav__logo {
  align-self: flex-start;
  margin-bottom: 8em;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}/*# sourceMappingURL=index.css.map */